.mainDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.SecondSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.taskLine{
  font-size: small;
}
.inputSection{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 0.500rem;
}
.Add-btn{
  font-size: 3rem;
  cursor: pointer;

}
ol{
  list-style: none;
}
.data{
  width: 50%;
  border: 2px solid #000;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #FBE7C6;
}
.displayData{
  background-color: transparent;
  color: black;
  width: 31.25rem;
  display: flex;
  gap: 200px;
}
.displayIcons{
  display: flex;
  gap: 10px;
  padding-left: 20px ;
}
.displayList{
  font-size: large;
  width: 450px ;
  overflow: hidden;
}
/* @media screen and (max-width: 1024px){
.displayData{
  display: flex;
  gap: 0px;
}
.displayIcons{
  gap: 0px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.displayList{
  width: 100%;
}
} */
@media screen and (max-width: 425px ) {
  .data{
    width: 100%;
    border: none;
    height: auto;
  }

  .displayData{
    display: flex;
    width: auto;
    gap: 0rem; 
  }
  .displayIcons{
    gap: .5rem;
    padding-left: 1rem;
    
  }
  .displayList{
    width: auto;
  }

}